# This file is used by direnv to automatically load environment variables.
# Install direnv: https://direnv.net/
# After customizing, consider adding .envrc to .gitignore to avoid committing your profile.
#
# When using named profiles:
# https://docs.aws.amazon.com/cli/v1/userguide/cli-configure-files.html#cli-configure-files-using-profiles
# Uncomment and set your AWS profile name, then run: direnv allow
# export AWS_PROFILE=
